<!doctype html>
<html lang="en_US">
<head>
    <meta charset="utf-8"/>
    <title>Audio Script</title>

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="icon" type="image/png" href="favicon.png" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/audioscript.css">

    <script src="//ajaxorg.github.io/ace-builds/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/q.js/0.9.2/q.min.js"></script>
    <script src="http://wzrd.in/standalone/uuid@latest"></script>
    <script src="lib/require.js"></script>
    <script src="lib/audioscript.js"></script>
</head>

<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Audio Script</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="https://bitbucket.org/audioscript/audio-script">About</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Insert Template
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a onclick="insertAtCursor('DEFINE ACTOR {{actorName}} {{actorVoice}}')">Define Actor</a></li>
                        <li><a onclick="insertAtCursor('SPEAK {{actorName}} &quot;{{Text to Audio}}&quot;')">Speak Actor</a></li>
                        <li><a onclick="insertAtCursor('PLAY {{audioName}} {{audioFile}}')">Play File</a></li>
                        <li><a onclick="insertAtCursor('WAIT FOR {{audioName or actorName}}')">Wait</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Insert Play
                        <span class="caret"></span></a>
                    <ul id="playTemplate" class="dropdown-menu">
                    </ul>
                </li>
                <li>
                    <p class="navbar-btn">
                        <button type="button" id="button_play" class="btn" onclick='buttonPlayPress($(this))'>
                            <i class="fa fa-play"></i>
                        </button>
                    </p>
                </li>
                <li>
                </li>
            </ul>

        </div><!--/.nav-collapse -->


    </div>
</nav>
<div id="errors">

</div>



<div id="editor"><!--
--><pre>
Define Actor Eminem Male2
PLAY so_far /assets/audio/so_far.wav
WITH VOLUME .5
Play Eminem "So far...." WITH RATE 1.4
Wait FOR Eminem
Play Eminem
    "I own a mansion but live in a house,
    A king size bed, but, I sleep on the couch,
    I am Mister Bright Side, glass is half-full,
    But my tanks half-empty, gasket just blew."
WITH RATE 1.1
Wait FOR Eminem
PLAY applause /assets/audio/applause.wav WAIT FOR applause
</pre><!--
--></div>







</body>
</html>
