.player{
    margin: 50px 0;
}

.errorHighlight{
    position:absolute;
    z-index:20;
    background-color:#F4B9B7;
}

.ace_marker-layer .warning {
    position: absolute;
    z-index: 4;
    background: rgb(181, 213, 255);
}

#editor {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 15pt;
}

#errors {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 9999;
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.ace-monokai .ace_dimmer,
.ace-monokai .ace_line.ace_dimmer,
.ace-monokai .ace_punctuation.ace_dimmer,
.ace-monokai .ace_punctuation.ace_tag.ace_dimmer,
.ace-monokai .ace_punctuation.ace_operator.ace_dimmer,
.ace-monokai .ace_support.ace_constant.ace_dimmer,
.ace-monokai .ace_support.ace_function.ace_dimmer,
.ace-monokai .ace_identifier.ace_dimmer,
.ace-monokai .ace_storage.ace_type.ace_dimmer,
.ace-monokai .ace_keyword.ace_dimmer,
.ace-monokai .ace_keyword.ace_operator.ace_dimmer,
.ace-monokai .ace_constant.ace_character.ace_dimmer,
.ace-monokai .ace_constant.ace_language.ace_dimmer,
.ace-monokai .ace_constant.ace_numeric.ace_dimmer,
.ace-monokai .ace_constant.ace_other.ace_dimmer,
.ace-monokai .ace_entity.ace_name.ace_function.ace_dimmer,
.ace-monokai .ace_entity.ace_other.ace_dimmer,
.ace-monokai .ace_entity.ace_other.ace_attribute-name.ace_dimmer,
.ace-monokai .ace_variable.ace_dimmer {
color: red;
}